#topBar{
    height: 45px !important;
    line-height: 45px !important;
    box-shadow: inset 0px 0px 45px 7px rgba(252,252,252,0.53);
    box-shadow: 0px 14px 45px 7px rgba(0, 0, 0, 0.11);
}
nav ul a{
    border-right: 0.2px solid rgba(255, 255, 255, 0.233);
    font-weight: bold;
    text-shadow: 0.5px 0.5px 2px #FFFFFF;
    padding: 0 25px;
}
.activo{
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.199);
}
footer{
    font-size: 15px;
    padding-bottom: 10px;
    padding-top: 13px;
    margin-top: -32px;
    position: relative;
    box-shadow: 0px -14px 45px 7px  rgba(0, 0, 0, 0.11);
}

#row1{
    margin-top: 25px;
    margin-bottom: -60px;
}

.row70{
    width: 70%;
    max-width: 1280px;
    margin: 0 auto;
}

.camaleones{
    border: 10px solid #757575;
    border-radius: 3px;
    position: absolute;
    z-index: 9999;
    box-shadow: 0px 0px 21px -6px rgba(150,101,205,1);
}

.pcamaleon{
    margin-top: 5px;
    margin-bottom: 5px; 
    text-align: justify;
    text-justify: inter-word;
}
/*-------------------------Slider PW-------------------------*/
.sliderPW{
    width:100%;
    max-width: 1280px;
    margin: 0px auto;
    position: relative;
    
    overflow: hidden;
}


.sliderPW .slide{
    position: absolute;
    z-index:0;
}

.sliderPW img{
    width: 100%;
    height: auto;
}

.sliderPW .controles{
    z-index: 10;
    position:relative;
    
}

.sliderPW .controles .btnControl{
    width:30px;
    height: 30px;
    background-image: url("../img/slidercontrol.png");
    position:absolute;
    margin-top:14%;
    cursor:pointer;
}

.sliderPW .controles .btnControl.btnNext{
   right:10px;
   background-position: -30px 0px;
}

.sliderPW .controles .btnControl.btnPrev{
    left:10px;
    
 }