body{
    background-color: #e7e7e7;
    margin: 0px;
}

#topBar{
    background-color: #003392;
    background-image: linear-gradient(#002253, #003392);
    
}

#topBar ul a:hover {
    background-color: #000716;
    border-right: 1px solid white;
    border-left: 1px solid white;
    padding: 0 14px;
}

#topBar .brand-logo{
    width:229px;
    height: 85px;
    background-image: url('../img/logoPW.png');
    text-indent: -999999px;
}

.bloque h2{
    font-size: 20px;
    background-color: #003692;
    color: white;
    padding: 10px 28px;
    margin-left: -28px;
    position:relative;
}
.bloque h2::after{
    content: "";
    width: 23px;
    height: 23px;
    background-color: rgb(66, 66, 66);
    position: absolute;
    left: 5px;
    top: 31px;
    transform: rotate(45deg);
    z-index: -10;
}

#contenido{
    margin-top:20px;
}

footer{
    font-size: 15px;
    padding-bottom: 10px;
    margin-top: -32px;
    z-index: -10;
    position: relative;
    padding-top: 13px;
}


/*-------------------------Slider PW-------------------------*/
.sliderPW{
    width:100%;
    max-width: 1280px;
    margin: 0px auto;
    position: relative;
    
    overflow: hidden;
}


.sliderPW .slide{
    position: absolute;
    z-index:0;
}

.sliderPW img{
    width: 100%;
    height: auto;
}

.sliderPW .controles{
    z-index: 10;
    position:relative;
    
}

.sliderPW .controles .btnControl{
    width:30px;
    height: 30px;
    background-image: url("../img/slidercontrol.png");
    position:absolute;
    margin-top:14%;
    cursor:pointer;
}

.sliderPW .controles .btnControl.btnNext{
   right:10px;
   background-position: -30px 0px;
}

.sliderPW .controles .btnControl.btnPrev{
    left:10px;
    
 }

 #test{
     font-weight: bold;
 }